<section class="home__features-section">
  <div class="home__features">
    <volt-card>
      <volt-card-header>
        <div class="home__feature-icon">⚡</div>
        <volt-card-title>Headless</volt-card-title>
        <volt-card-description>Bring your own CSS or UI framework.</volt-card-description>
      </volt-card-header>
    </volt-card>
    <volt-card>
      <volt-card-header>
        <div class="home__feature-icon">♿</div>
        <volt-card-title>Accessible</volt-card-title>
        <volt-card-description>WAI-ARIA patterns out of the box.</volt-card-description>
      </volt-card-header>
    </volt-card>
    <volt-card>
      <volt-card-header>
        <div class="home__feature-icon">🎨</div>
        <volt-card-title>Themable</volt-card-title>
        <volt-card-description>Infinite styling possibilities.</volt-card-description>
      </volt-card-header>
    </volt-card>
  </div>
</section>
